@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=ace907d0-f450-44d7-afeb-5a9a25f9ee44");
    @font-face{
        font-family:"Univers LT W01_45 Light1475944";
        src:url("Fonts/a91ff084-fc8b-43f4-b0ea-111254b68524.eot?#iefix");
        src:url("Fonts/a91ff084-fc8b-43f4-b0ea-111254b68524.eot?#iefix") format("eot"),url("Fonts/9fa24f1f-00d8-4d28-910f-78e925eaead6.woff2") format("woff2"),url("Fonts/d64e7bbc-e9ea-46ad-982c-6195ae4a3c61.woff") format("woff"),url("Fonts/d270a34d-b6b8-4c07-8454-03a6a3db7603.ttf") format("truetype"),url("Fonts/b2ea19ff-0237-4d94-a107-eaa12af161ef.svg#b2ea19ff-0237-4d94-a107-eaa12af161ef") format("svg");
    }
    @font-face{
        font-family:"Univers LT W01_55 Roman1475956";
        src:url("Fonts/6510377f-160a-4f66-aec0-2b71f05e9736.eot?#iefix");
        src:url("Fonts/6510377f-160a-4f66-aec0-2b71f05e9736.eot?#iefix") format("eot"),url("Fonts/5c8d59c2-9c85-4a22-88e3-bf3fba01dcd8.woff2") format("woff2"),url("Fonts/fc51d03b-0d7d-45df-9415-3c6270c80749.woff") format("woff"),url("Fonts/74bdff6d-c5de-42e8-a4d8-11ea14eddb22.ttf") format("truetype"),url("Fonts/bd04ae3d-23dc-4975-9967-e21c43e5b59f.svg#bd04ae3d-23dc-4975-9967-e21c43e5b59f") format("svg");
    }
    @font-face{
        font-family:"Univers LT W01_65 Bold1475968";
        src:url("Fonts/38dc895e-c366-4a3e-b212-a84a2d07a329.eot?#iefix");
        src:url("Fonts/38dc895e-c366-4a3e-b212-a84a2d07a329.eot?#iefix") format("eot"),url("Fonts/8a711a0d-3f17-4bfe-887b-6229858332b3.woff2") format("woff2"),url("Fonts/05a79c4b-9e9d-46e4-9d4b-610be05371c4.woff") format("woff"),url("Fonts/4e00405b-a96d-4972-bdff-2d55e1066c45.ttf") format("truetype"),url("Fonts/1e2c0a36-e8bb-4e3b-a4ca-dec00221c06e.svg#1e2c0a36-e8bb-4e3b-a4ca-dec00221c06e") format("svg");
    }
    @font-face{
        font-family:"Univers LT W01_75 Black1475980";
        src:url("Fonts/e5fb72ca-12c4-49f5-9253-653474f25a27.eot?#iefix");
        src:url("Fonts/e5fb72ca-12c4-49f5-9253-653474f25a27.eot?#iefix") format("eot"),url("Fonts/9d846738-13de-43dd-a3f2-ff53924f926c.woff2") format("woff2"),url("Fonts/ea880276-dfca-4a2a-a7ce-3d597e85112a.woff") format("woff"),url("Fonts/a0361fe2-856b-41d4-a5e3-e87579315974.ttf") format("truetype"),url("Fonts/402203c8-9b56-4ded-8eb9-f5cf92a95713.svg#402203c8-9b56-4ded-8eb9-f5cf92a95713") format("svg");
    }

@keyframes bob {
  0% {
    margin-top: 0px;
  }

  25% {
    margin-top: 5px
  }
  100% {
    margin-top: 0px
  }

}
@keyframes red {
  0% {
    color: transparent;
  }


  100% {
    color: black
  }
}

@keyframes splash {
  0% {
    color: transparent;
    background-color: black;
  }
  20% {
    color: transparent;
    background-color: black;
    font-size: 4vw;
  }
  40% {
    color: white;
    background-color: black;
  }
  50% {
    color: white;
    background-color: black;
  }
  80% {
    color: white;
    background-color: black;
  }
  100% {
    color: transparent;
    background-color: transparent;
    pointer-events: none;
  }
}
@keyframes splash2 {
  0% {
    margin-top: 46.25vh;
    transform:scale(1);
  }
  50% {
    margin-top: 46.25vh;
    transform:scale(1);
  }
  80% {
    margin-top: 0;
    transform:scale(.333);
  }
  100% {
    margin-top: 0;
    transform:scale(.333);
  }
}
*{
  font-weight: normal;
}

.page2 .imgsquare{
    -webkit-transform: translate3d(0, 0, 0);
}
.page2{
  -webkit-transform: translate3d(0, 0, 0);
}
body{
  background-color:white;
  margin: 0;
  font-family:'Univers LT W01_55 Roman1475956';
  font-size: 16px;
  display: flex;
  flex-direction: row;
  overflow-y:auto;
  align-items: flex-start;
}
body.cartMode{
  overflow-x: hidden;
}
body.aboutMode{
  overflow-x: hidden;
}
body.bookMode{
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: inherit;
}
.gallery{
  overflow-y: scroll;
  width: 100vw;
  height:100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}
#imgloader{
  width: 60vw;
  height:84.7457627vw;
  margin: 0;
  margin-left: 5vw;
  margin-top: 13.75vh;
  margin-bottom: 13.75vh;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
#copyContainer{
  position:absolute;top:13.75vh;left:70vw;display:flex;flex-direction:column;color:white;width: 25vw

}
#copyContainer > h2{
  font-size:4vw;
  line-height: 1;
  margin-top: 0;
}
#copyContainer > h3{
  width:25vw;
}
#buy, #share{
  position: relative;
  height: inherit;
  width: auto;
  display: flex;
  align-items: flex-end;
  font-family:'Univers LT W01_65 Bold1475968';

}
#buy > h3, #share > h3{
  padding-top: 4vh;
  padding-bottom: 1vh;
  margin: 0;
  /*border-bottom: 1px solid rgba(255,255,255,0.3)*/
}
/*#buy h3.selected{
  color: red;
  border-bottom: 1px solid rgba(255,0,0,0.3)
}
#buy h3.selected:hover{
  border-bottom: 1px solid rgba(255,0,0,1)
}
#buy h3:hover, #share h3:hover{
  border-bottom: 1px solid rgba(255,255,255,1);
  cursor: pointer;
}*/

#buy h3{
  display: inline-block;
}
#buy h3.selected{
  color:crimson;
}
#buy h3.selected:hover{
  color:crimson;
}
#buy h3.selected::after{
  background-color: crimson;
}

#buy h3:hover{
  color:rgba(255,255,255,1);
  cursor: pointer;
}
#buy h3::after {
  width: 100%;
  margin-top: 3px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .25s;
}
#buy h3:hover::after {
    width: 100%;
}


#share h3{
  display: inline-block;
  margin-bottom: 10px;
}

#share h3:hover{
  color:rgba(255,255,255,1);
  cursor: pointer;
}
#share h3::after {
    width: 100%;
    margin-top: 3px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width .25s;
}
#share h3:hover::after {
    width: 100%;
}
/*#buy:before,#share:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#buy:hover, #share:hover{
  cursor: pointer;
}
#buy:hover:before, #share:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}*/


#lazy-container{
  display:flex;
  flex-direction:row;
  position:fixed;
  overflow-y:hidden;
  overflow-x:scroll;
  width:100vw;
  height:100vh;
  align-items: center;
}
#lazy-container>.cartMode{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  overflow-x:hidden;
  width:100vw;
  height:80vh;
}
#lazy-container.cartMode{
  overflow-y:scroll;
  overflow-x:hidden;
  align-items: flex-start;
}
#lazy-container.bookMode{
  overflow-y:scroll;
  overflow-x:hidden;
}
.main-nav{
  background-color: rgba(30,30,30,0);
  color:rgba(0,0,0,.3);
  width:60vh;
  height: 7.5vh;
  font-family:'Univers LT W01_65 Bold1475968';
  position: fixed;
  top:0;
  right:0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  z-index: 5;
  transition: opacity .25s;
  overflow: visible;
}
.hidden-page{
  height: 100%;
  width: 100%;
  background-color: rgba(30,30,30,1);
  position: fixed;
  top:100vh;
  left:0;
  transition: .25s;
  z-index: 7;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
.hidden-page.cartMode{
  display: none;
}
.nav-item{
  margin-right: 7.5vh;
  height: 7.5vh;
  display: flex;
  align-items: center;
}
.nav-item:last-child{
  margin-right: 0;
}
.nav-item a{
  display: inline-block;
  position: relative;
}
.nav-item.selected a::after{
  width: 100%;
}
.nav-item a:hover{
  color:rgba(0,0,0,1);
  cursor: pointer;
}

.nav-item a::after {
    margin-top: 2px;
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .25s;
    position: absolute;

}
.nav-item a:hover::after {
    width: 100%;
}
.home{
  position: fixed;
  left:10vh;
  height: 7.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'Univers LT W01_65 Bold1475968';

}
section.cover{
  width: 100vw;
  height: 100vh;
  color: transparent;
  background: black;
  z-index: 999;
  opacity: 1;
  font-family: 'Univers LT W01_65 Bold1475968';
  transition: all 1s;
  animation-fill-mode: forwards;
  position: fixed;
  top:0;
  left:0;
  pointer-events: none;
}
section.cover div{
  height: 7.5vh;
  display: flex;
  align-items: center;
  width: 90vw;
  font-size: 48px;
  margin-left: 10vh;
  transform-origin: left;
  animation-fill-mode: forwards;
}
i.fa.hamburger{
  display: none;
}
.button{
  color: rgba(255,255,255,0.3);
  width: 100vw;
  text-align: center;
  font-size: 5vh;
  height: 7.5vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .25s;
}
.button.fa{
  font-size: 10vh;

}
.button:hover{
  color: rgba(255,255,255,1);
  cursor:pointer;
}

.selected{
  color:rgba(0,0,0,1);
}
.word.selected{
  color:rgba(255,255,255,1);
}
.wordContainer{
  width: 85vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.word{
  height:3vw;
  font-size: 2.5vw;
  color:rgba(255,255,255,.3)
}
.word:hover{
  color:rgba(255,255,255,1);
  cursor: pointer;
}
.page1{
  height: 100vh;
  width: auto;
  background-size: contain;
  background-repeat: no-repeat;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
  position: fixed;
  transition: opacity .25s
}
/*.page1.slide, .page2.slide{
  opacity: 0;
  transition:.25s
}*/
.hidden-page.slide{
  top:0
}

#lazy-container>.page1.cartMode{
  display: none;
}
#lazy-container>.page1.bookMode{
  display: none;
}
#lazy-container>.page3.bookMode{
  display: flex;
}
#lazy-container>.page3.cartMode{
  display: none
}
.page3{
  display: none;
  height: 300vh;
  width: 100vw;
  background-size: contain;
  background-repeat: no-repeat;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  top: 13.75vh;
  left: 0;
}
.bookIntro{
  width: 90vw;
  height: auto;
  display: block;
  margin-left: 10vh;
  margin-bottom: 7.5vh;
}
.bookIntro h2{
  font-size: 4vw;
  margin-top: -1vh;
  display: inline-block;
  margin-bottom: 0;
  height: 30vh;
  width: calc(100vw - 70vh);
  line-height: 1;
  position: absolute;
  top:0;
  left: 10vh;
}
.bookIntro h2.sticky{
  position: fixed;
  top: 6.25vh;
}
.bookIntro h3{
  width: 50vh;
  position: relative;
  margin-left: calc(100vw - 70vh);
}
.bookModule{
  width: 100%;
  height: 100%;
  background-color: rebeccapurple;
  background-image: url('img/FullSizeRender 2.jpg');
  background-size: cover;
  background-position: center;
}
#lazy-container>.page1.aboutMode{
  display: none;
}

.page2{
  width: auto;
  margin-left: calc(100vw - 60vh - 24.78vh);
  height: 100vh;
  transition: opacity .25s;
  background-color: transparent;
  display:flex;flex-direction:row;justify-content:center;align-items:center;
}
.bookheader{
  display: none
}
.cartMode .bookheader{
  display: block;
  width: 100%;
  font-size: 4vw;
  font-family:'Univers LT W01_75 Black1475980';
  margin:7.08vh;
  margin-top: 6.08vh;
  line-height: 1

}
.posterheader{
  display: none
}
.cartMode .posterheader{
  display: block;
  width: 100%;
  font-size: 4vw;
  font-family:'Univers LT W01_75 Black1475980';

  margin:7.08vh;

}
#lazy-container>.page2.cartMode{
  height: initial;
  width: calc(100vw - 68vh);
  padding-top: calc(8.75vh - 2.08vh);
  padding-left: calc(10vh - 7.08vh);
  padding-bottom: calc(8.75vh - 2.08vh);
  margin-left: 0;
  justify-content: flex-start;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 4
  /*box-shadow:-5px 27px 74px -8px rgba(0,0,0,0.41)*/
}
#lazy-container>.page2.bookMode{
  display: none;
}
#lazy-container>.page2.aboutMode{
  display: none;
}
.item-list{
  display: none;
}
.item-list>ul>li{
  text-decoration: none;
  list-style: none;
  width: 15vw;
  margin: 0;
  padding: 0;
}
.item-list.cartMode{
  display: flex;
  width: 60vh;
  height: 63.5vh;
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0,0.035);
  /*pointer-events: none;*/
  font-size: 16px;
  overflow: visible;
  padding-top: 5.25vh;
  margin-top: 7.5vh;
  margin-right: 5vh;
  padding-bottom: 16.25vh;
  z-index: 3;
}
#lazy-container>.item-list.bookMode{
  display: none;
}
#lazy-container>.item-list.aboutMode{
  display: none;
}
.posterblurb{
  max-width: 51.33vh;
  margin: 0;
  font-size: 18px
}
.intro{
  width: calc(100vw - 70vh - 24.78vh);
  height: 72.5vh;
  display: block;
  margin-left: 10vh;
}
.intro h2{
  font-size: 4vw;
    margin-top: -1vh;
    display: inline-block;
    margin-bottom: 11.5vh;
    height: 30vh;
    width: 60vw;
    line-height: 1;
}
.imgCon.hidden{
  margin-right:0;
  margin-left:0;
  margin-top: 0;
  margin-bottom: 0;
  display: none;
}
.imgCon{
  position: relative;
  margin-right:24.78vh;
  margin-left:24.78vh;
  color: rgba(0,0,0,0);
  transition: color .25s
}
.imgCon:hover{
  cursor: pointer;
  color:rgba(0,0,0,0.3);
}
.imgsquare{
  width: 51.33vh;
  height: 72.5vh;
  background-color:gainsboro;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  transition:.25s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:rgba(0,0,0,0);
  opacity:1;
   position:relative;
   -webkit-box-shadow: -5px 27px 74px -8px rgba(0,0,0,0.71);
   -moz-box-shadow: -5px 27px 74px -8px rgba(0,0,0,0.71);
   box-shadow: -5px 27px 74px -8px rgba(0,0,0,0.71);
     -webkit-transform: translate3d(0, 0, 0);
}
.imgsquare.posterbook{
  display: none;
  background-image: url('img/PDC_Posterworks_07.10.17.png');
  width: 51.33vh;
  height: 66.5388889vh;
}
.cartMode .imgCon{
  margin:7.08vh;
  margin-right: 2.98vh;
  margin-bottom: 2.98vh;
}
.cartMode .imgCon.hidden{
  display: block;
  margin:7.08vh;
  margin-bottom: 10.12vh;
}

.imgCon.poster25.posterColle.hidden.cartMode section img{
  position:absolute;
  top:0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
.imgCon.poster25.posterColle.hidden.cartMode section{
  opacity: .1;
  transition: opacity .25s;
}
.imgCon.poster25.posterColle.hidden.cartMode.selected section{
  opacity: 1
}
.imgCon.poster25.posterColle.hidden.cartMode section img:nth-child(1){

  left:calc((100vw - 110.5vh)*7/49);
}
.imgCon.poster25.posterColle.hidden.cartMode section img:nth-child(2){

  left:calc((100vw - 110.5vh)*6/49);
}
.imgCon.poster25.posterColle.hidden.cartMode section img:nth-child(3){

  left:calc((100vw - 110.5vh)*5/49);
}
.imgCon.poster25.posterColle.hidden.cartMode section img:nth-child(4){

  left:calc((100vw - 110.5vh)*4/49);
}
.imgCon.poster25.posterColle.hidden.cartMode section img:nth-child(5){

  left:calc((100vw - 110.5vh)*3/49);
}
.imgCon.poster25.posterColle.hidden.cartMode section img:nth-child(6){

  left:calc((100vw - 110.5vh)*2/49);
}
.imgCon.poster25.posterColle.hidden.cartMode section img:nth-child(7){

  left:calc((100vw - 110.5vh)*1/49);
}



.imgCon.poster25.posterColle.hidden.cartMode section img.selected:nth-child(1){

  left:calc(100vw - 110.5vh)
}
.imgCon.poster25.posterColle.hidden.cartMode section img.selected:nth-child(2){

  left:calc((100vw - 110.5vh)*6/7)
}
.imgCon.poster25.posterColle.hidden.cartMode section img.selected:nth-child(3){

  left:calc((100vw - 110.5vh)*5/7)
}
.imgCon.poster25.posterColle.hidden.cartMode section img.selected:nth-child(4){

  left:calc((100vw - 110.5vh)*4/7)
}
.imgCon.poster25.posterColle.hidden.cartMode section img.selected:nth-child(5){

  left:calc((100vw - 110.5vh)*3/7)
}
.imgCon.poster25.posterColle.hidden.cartMode section img.selected:nth-child(6){

  left:calc((100vw - 110.5vh)*2/7)
}
.imgCon.poster25.posterColle.hidden.cartMode section img.selected:nth-child(7){

  left:calc((100vw - 110.5vh)*1/7)
}

.imgsquare.cartMode{
  background-color:gainsboro;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color:rgba(0,0,0,0);
  opacity:1;
   position:relative;
   -webkit-box-shadow: -5px 27px 74px -8px rgba(0,0,0,0.41);
   -moz-box-shadow: -5px 27px 74px -8px rgba(0,0,0,0.41);
   box-shadow: -5px 27px 74px -8px rgba(0,0,0,0.41);
   width: 25.665vh;
 height: 36.25vh;

  transition: .25s;
  filter: grayscale(1);
}
.imgsquare.posterbook.cartMode{
  width: 25.665vh;
  height: 33.2694444vh;
  display: flex;
}
.imgsquare.cartMode.selected{
  transition: .25s;
  opacity: 1;
  transform: scale(1);
  filter: grayscale(0);
  /*-webkit-box-shadow: -2px 34px 97px 5px rgba(0,0,0,.7);
  -moz-box-shadow: -2px 34px 97px 5px rgba(0,0,0,.7);
  box-shadow: -2px 34px 97px 5px rgba(0,0,0,.7);*/
}
.imgsquare.cartMode.selected:hover{
  /*transform: scale(1.3);*/
  filter: grayscale(0);

}

.imgsquare.cartMode:hover{
  filter: grayscale(1);
  /*opacity: 1;*/
  /*-webkit-box-shadow: -5px 27px 74px -8px rgba(0,0,0,0.41);
  -moz-box-shadow: -5px 27px 74px -8px rgba(0,0,0,0.41);
  box-shadow: -5px 27px 74px -8px rgba(0,0,0,0.41);*/
}
.quantity{
  position: absolute;
  top: 0;
  -webkit-transform: translate3d(0, 0, 0);
  pointer-events: none;
  opacity: 0;
  transition: .25s;
  pointer-events: none;
  display: none;
}
.cartMode .quantity{
  display: block;
    pointer-events: all;
    opacity: 1;
    display: flex;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    color:rgba(0,0,0,0.1);
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    pointer-events: all;
}

.cartMode .quantity:hover{
    opacity: 1;
    background-color: rgba(255,255,255,0.3);
    /*color:rgba(0,0,0,1);*/
}

.selected.cartMode .quantity{
  color:transparent;
  height: 0;

  /*mix-blend-mode: multiply;*/
}

.selected.cartMode .quantity.hovered{
  background-color: rgba(255,255,255,.9);
  color:rgba(119,119,119,0);

}
.cartMode .quantity.hovered{
  background-color: rgba(255,255,255,.9);
  /*color:rgba(119,119,119,1);*/
}
.selected.cartMode.imgsquare.hovered{
}

/*.selected.cartMode .quantity.hovered:before{
  border-color: crimson;
}*/
/*.selected.cartMode .quantity.hovered:after{
  border-color: crimson;

}*/

/*.quantity:before{
  mix-blend-mode:multiply;

    content: '';
    display: block;
    position: absolute;
    width: 0;
    bottom:0;
    left:50%;
    height: 5px;
    transition: .25s, height ease-in .45s;
    border-bottom: solid transparent 5px;

}*/
/*.quantity:after{
  mix-blend-mode:multiply;

    content: '';
    display: block;
    position: absolute;
    width: 0;
    top:0;
    left:50%;
    height: 5px;
    transition: .25s, height ease-in .45s;
    border-top: solid transparent 5px;
}

.selected .quantity:before{
  border: solid transparent 5px;
  left:0;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-left-color:  MediumSeaGreen ;
  border-right-color:  MediumSeaGreen ;
  border-bottom-color:  MediumSeaGreen ;
}
.selected .quantity:after{
  border: solid transparent 5px;
  left:0;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-left-color:  MediumSeaGreen ;
  border-right-color:  MediumSeaGreen ;
  border-top-color:  MediumSeaGreen ;
}*/















.minus, .plus{

  font-size: 7vh;
  text-align: center;
  font-weight: lighter;
  -webkit-touch-callout: none; /* iOS Safari */
 -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
     -ms-user-select: none; /* Internet Explorer/Edge */
         user-select: none; /* Non-prefixed version, currently
                               supported by Chrome and Opera */
 display: flex;

  justify-content: center;
  overflow: hidden;
}
.minus{
  width: 0%;
  opacity: .3;


}
.plus{
    width: 100%;
    align-items: center;
    height: 100%;

}

.selected .qtyNum{
  display: block;
}
.plusMin{
  display: flex;
/* position: absolute; */
  top: 0;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border: 5px dashed rgba(0,0,0,0.1);
}
.selected .plusMin{
  border: 5px dashed rgba(0,0,0,0);
}
.selected .minus,.selected .plus{
    width: 100%;
    height: 100%;
    align-items: center;
    opacity: 1

}
.minus:hover, .plus:hover{
  opacity: 1;
}
/*.imgsquare.cartMode.selected:hover{
  opacity: 1
}*/
.imgsquare:hover{
/*opacity: .3;*/
transition: .25s;
cursor: pointer;
/*-webkit-box-shadow: -2px 34px 97px 5px rgba(0,0,0,0.82);
-moz-box-shadow: -2px 34px 97px 5px rgba(0,0,0,0.82);
box-shadow: -2px 34px 97px 5px rgba(0,0,0,0.82);*/

}
.imgsquare.selected:hover{
  color:rgba(0,0,0,1);
}
.imgCon.cartMode .fa{
  display: none;
}
.imgCon .fa{
  position: absolute;
  text-align: center;
  width: 100%;
    top: 75vh;
    font-size: 5vh;
    pointer-events: none;
    /*-webkit-filter: blur(2px);
    filter: blur(2px);*/
    /*animation: bob 1s forwards;
    animation-iteration-count: infinite;*/
}

h2{
  width: 15vw;
  text-align: left;
  z-index: 2;
  font-family:'Univers LT W01_75 Black1475980';

}
.item-list section{
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.item-list ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin-top: -.75vh;

}
.item-list ul li{
  font-size: 1.6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-bottom: .25vh;
  padding-top: .25vh;
   position:relative;
   -webkit-transform: translate3d(0, 0, 0);
   transition: .25s;
   /*color:transparent;
   animation-fill-mode: forwards;*/
}
.item-list ul li:after{
  -webkit-transform: translate3d(0, 0, 0);
}
.item-list ul li div{
  width: 10vh
}
.item-list ul li div:first-child{
  width: 40vh;
  padding-left: 5vh;
  transition: padding .25s;
}
.item-list ul li.subTotal{
  position: fixed;
  pointer-events: none;
  width: 60vh;
  right: 0;
  bottom:7.5vh;
  height: 7.5vh;
  display: flex;
  font-family:'Univers LT W01_65 Bold1475968';
  font-size: 16px;
  color: rgba(0,0,0,0.2)
}
.item-list ul li.subTotal.selected{
  color: rgba(0,0,0,1)
}

.item-list .checkout{
  position: fixed;
  pointer-events: none;
  color:rgba(0,0,0,0.2);
  width: 70vh;
  right: 0;
  bottom:0vh;
  height: 7.5vh;
  display: flex;
  align-items: center;
  font-family:'Univers LT W01_65 Bold1475968';
  font-size: 16px;
  z-index: 5;



}
.item-list .checkout.selected a{
  color: rgba(0,0,0,1);
  pointer-events: all;
  transition: .25s
}
.item-list .checkout a{
  margin-left: 10vh;
  display: inline-block;
  width: auto;
  position: relative;
}
.item-list .checkout a:hover{
  cursor: pointer;
  color:crimson
}
.item-list .checkout a:after{
  margin-top: 2px;
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 2px;
  background: crimson;
  transition: .25s


}
.item-list .checkout a:hover:after{
  transition: .25s;
  transition-delay: .25s ;
  width: 100%;
}
.item-list .checkout:after{
  /*z-index: -1;
  content: '';
  display: block;
  position: absolute;
  left:0;
  top:0;
  width: 100%;
  margin-top: 100%;
  height: 0;
  background-color: white;
  transition: .25s;
  overflow-y: hidden;*/
}
.item-list .checkout:hover:after{
  margin-top: 0;
  height: 100%;
}
.item-list hr:nth-child(2){
  width: 50vh;
height: 1px;
border: 0;
margin: 0;
border-top: solid 2px rgba(0,0,0,0.05);
bottom: 14.5vh;
position: fixed;
right: 10vh;
}
.item-list hr:nth-child(3){
  width: 50vh;
height: 1px;
border: 0;
margin: 0;
border-top: solid 2px rgba(0,0,0,0.05);
bottom: 22.25vh;
position: fixed;
right: 10vh;
}

.tax{
  height: 7.5vh;
  width: 60vh;
  position: fixed;
  bottom: 13.5vh;
  right: 5vh;
  display: flex;
  font-size: 1.6vh;
  align-items: center;
  color:rgba(0,0,0,0.2);
}
.tax.selected{
  color:rgba(0,0,0,1);
}
.tax div{
  margin-left: 5vh;
  width: 40vh
}
.shipping{
  height: 7.5vh;
    width: 60vh;
    position: fixed;
    bottom: 16.5vh;
    right: 5vh;
    display: flex;
    font-size: 1.6vh;
    align-items: center;
    color:rgba(0,0,0,0.2);
}
.shipping.selected{
  color:rgba(0,0,0,1);
}
.shipping div{
  margin-left: 5vh;
  width: 40vh
}
.item-list ul li.subTotal div:first-child{
  width: 40vh;
  padding-left: 0;
}
.item-list ul li:after{
  z-index: -1;
  content: '';
  display: block;
  position: absolute;
  left:5vh;
  top:0;
  width: 0;
  height: calc(50% - 1px);
  /*background-color: crimson;*/
  border-bottom: solid 2px crimson;
  transition: .25s;
}
.item-list ul li.hovered{
  color:crimson;
  cursor: pointer;
}
.item-list ul li.hovered div:first-child{
  padding-left: 7.5vh;
  /*padding-right: 2.5vh;*/
}
.item-list ul li.hovered:after {
  width: 1.5vh
}
@media screen and (max-width: 1000px) {
  * {  -webkit-backface-visibility:  hidden;
       -webkit-tap-highlight-color:  transparent;
    }


  section.cover div{
    margin-left: 10vw;
  }
  .nav-item{
    display: none;
    padding-left: 10vw;
    width: 90vw;
    font-size: 36px;
    height: 10vh;
  }
  .nav-item a:hover{
    color:rgba(0,0,0,0.3);
    cursor: pointer;
  }
  .nav-item a:hover:after{
    width: 0;
  }
  .nav-item.show{
    display: block;
  }
  .nav-item.show a::after{
  }
  .nav-item.show.selected{
  }
  .nav-item.show a:hover{
    cursor: pointer;
  }
  nav.main-nav{
    top: 0;
    left: 0;
    width: 100%;
    height: 7.5vh;
    background-color: rgba(255,255,255,1);
    transition: .25s;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    -webkit-transform: translate3d(0, 0, 0);
  }
  nav.main-nav .nav-item{
    opacity: 0;
    transition: .25s;
  }
  nav.main-nav.show{
    width: 100vw;
    height: 100vh;
    background-color: rgba(255,255,255,1);
    margin-left: 0;
  }
  nav.main-nav.show .nav-item{
    opacity: 1
  }
  i.fa.hamburger{
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgba(119,119,119,1);
    top:0;
    right:0;
    padding-right: 10vw;
    padding-left: 10vw;
    position: fixed;
    height: 7.5vh;
    font-size: 24px;
    z-index: 6
  }
  i.fa.hamburger.show{
  }
  i.fa.hamburger.fa-times{
    font-size: 28px
  }
  body{
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    -webkit-backface-visibility: hidden;
  }
  .home{
    top: 0;
    left:10vw;
    z-index: 6;
  }
  .home.show{
    transition-delay: .25s;
    transition: .25s;
    opacity: 1 !important
  }
  .page1{
      -webkit-transform: translate3d(0, 0, 0);
      align-items: flex-start;
      position: relative;
      height: auto;
      margin-bottom: 10.5vh;
  }
  .page2{
    display: inline-block;
    width: 100vw;
    height: auto;
    min-height: 101%;
      -webkit-transform: translate3d(0, 0, 0);
      margin-left: 0;
  }
  .page3{
    position: relative;
  }
  .imgCon{
    margin-bottom: 40vw;
    margin-left: 10vw;
    margin-right: 10vw;
      -webkit-transform: translate3d(0, 0, 0);
  }
  .imgsquare{
    width: 80vw;
    height: 112.915vw;
    margin-bottom: 0;
    margin-left: 0;
  }
  .intro{
    width: 80vw;
    margin-left: 0;
    height: auto;
    margin-top: 13.75vh;
  }
  .intro h2{
    margin-bottom:9vh;
    height:auto;
    margin-top:0;
    display: flex;
flex-direction: column;
justify-content: center;
font-size: 36px;

  }
  .bookIntro{
    margin-left: 10vw;
    margin-top: 108px;
    flex-direction: column;
  }
  .bookIntro h3{
    width: 80vw;
    margin-top: 9vh;
    margin-left: 0;
  }
  .bookIntro h2{
    margin-top:0;
    height: auto;
    width: 80vw;
    left: 10vw;
    display: flex;
flex-direction: column;
justify-content: center;
font-size: 36px;
  }

  .imgCon .fa{
    display: none;
  }
  .posterblurb{
    max-width: 80vw;
    width: 80vw
  }
  #buy, #share{
    height: 7.5vh;
    align-items: center;
  }
  #buy h3, #share h3{
    margin: 0;
  }
  #buy h3::after, #share h3::after{
    width: 100%;
  }
  #imgloader{
    display: none;
  }
  #copyContainer{
    top:7.5vh;
    width: 80vw;
    margin-left: 10vw;
    left: auto
  }
  #copyContainer > h3{
    width: 80vw;
    margin: 0;

  }
  #copyContainer > h2{
    width: 80vw;
    height: 7.5vh;
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }
  .hidden-page{
    top:0;
    left: -100vw;
    background-color: rgba(0,0,0,0.85);
      -webkit-transform: translate3d(0, 0, 0);
  }
  .hidden-page.slide{
    left:0;
  }
  .button{
    width: 10vw;
    color:rgba(255,255,255,1);
  }

  .imgsquare:hover{
  /*opacity: .3;*/
  /*-webkit-box-shadow: -5px 27px 74px -8px rgba(0,0,0,0.71);
  -moz-box-shadow: -5px 27px 74px -8px rgba(0,0,0,0.71);
  box-shadow: -5px 27px 74px -8px rgba(0,0,0,0.71);*/
  }
  #lazy-container{
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    /*height: auto;*/
    -webkit-transform: translate3d(0, 0, 0);

  }
  #lazy-container>.page3.bookMode{
    align-items: flex-start;
  }
  #lazy-container.bookMode{
    overflow-y: hidden;
  }
  #lazy-container>.page2.cartMode{
    margin-top: 22.5vh;
    width: 100%;
    padding-left: 10vw;
    padding-top: 0;
  }
  .cartMode .bookheader{
    margin-left: 0;
  }
  .cartMode .posterheader{
    margin-left: 0;
  }
  .cartMode .imgCon{
    margin-right: 10vw;
    margin-left: 0;
    margin-bottom: 10vw;

  }
  .cartMode .imgCon.hidden{
    margin: 5vw;
    margin-bottom: 5vw;
    margin-left: 0;
  }
  .item-list.cartMode{
    width: 100vw;
    margin: 0;
    height: 15vh;
    position: fixed;
    top: 7.5vh;
    left: 0;
    padding: 0;
    z-index: 3;
    display: block;
    background-color: rgba(246,246,246,1);
  }
  .item-list.cartMode ul{
    margin-top: 0;
  }
  .item-list ul li.subTotal{
    color: transparent
  }
  .item-list ul li.subTotal div:first-child {
    width: auto;
    padding-right: 1vw;
  }
  .item-list .checkout{
    top: 7.5vh;
    height: 15vh;
    width: 50vw;
    justify-content: flex-end;
    color: transparent;
  }
  .item-list .checkout a{
    margin-left: 0;
    margin-right: 10vw;
  }
  .item-list.cartMode ul li.listItem{
    display: none;
  }
  ul li.idleCart {
    height: 15vh;
    padding: 0;
    top: 0;
  }
  ul li.idleCart div:first-child{
    padding-left: 10vw;
  }
  .item-list ul li.subTotal{
    top: 7.5vh;
    left: 10vw;
    height: 15vh;
    width: 40vw;
  }

  /*.item-list.cartMode{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }*/
  .tax, .shipping, hr{
    display: none;
  }
  .quantity{
    display: none;
  }

  .imgsquare.posterbook.cartMode {
    width: 35vw;
    height: 45.3703704vw;
}
  .imgsquare.cartMode{
    width: 35vw;
    height: 49.4001411vw;
  }

  .imgCon.poster25.posterColle.hidden.cartMode section img:nth-child(1){
    position:absolute;
    top:0;
    left:calc((45vw)*7/7);
  }
  .imgCon.poster25.posterColle.hidden.cartMode section img:nth-child(2){
    position:absolute;
    top:0;
    left:calc((45vw)*6/7);
  }
  .imgCon.poster25.posterColle.hidden.cartMode section img:nth-child(3){
    position:absolute;
    top:0;
    left:calc((45vw)*5/7);
  }
  .imgCon.poster25.posterColle.hidden.cartMode section img:nth-child(4){
    position:absolute;
    top:0;
    left:calc((45vw)*4/7);
  }
  .imgCon.poster25.posterColle.hidden.cartMode section img:nth-child(5){
    position:absolute;
    top:0;
    left:calc((45vw)*3/7);
  }
  .imgCon.poster25.posterColle.hidden.cartMode section img:nth-child(6){
    position:absolute;
    top:0;
    left:calc((45vw)*2/7);
  }
  .imgCon.poster25.posterColle.hidden.cartMode section img:nth-child(7){
    position:absolute;
    top:0;
    left:calc((45vw)*1/7);
  }



  .imgCon.poster25.posterColle.hidden.cartMode section img.selected:nth-child(1){
    position:absolute;
    top:0;
    left:calc(45vw)
  }
  .imgCon.poster25.posterColle.hidden.cartMode section img.selected:nth-child(2){
    position:absolute;
    top:0;
    left:calc((45vw)*6/7)
  }
  .imgCon.poster25.posterColle.hidden.cartMode section img.selected:nth-child(3){
    position:absolute;
    top:0;
    left:calc((45vw)*5/7)
  }
  .imgCon.poster25.posterColle.hidden.cartMode section img.selected:nth-child(4){
    position:absolute;
    top:0;
    left:calc((45vw)*4/7)
  }
  .imgCon.poster25.posterColle.hidden.cartMode section img.selected:nth-child(5){
    position:absolute;
    top:0;
    left:calc((45vw)*3/7)
  }
  .imgCon.poster25.posterColle.hidden.cartMode section img.selected:nth-child(6){
    position:absolute;
    top:0;
    left:calc((45vw)*2/7)
  }
  .imgCon.poster25.posterColle.hidden.cartMode section img.selected:nth-child(7){
    position:absolute;
    top:0;
    left:calc((45vw)*1/7)
  }




}
